<h1>Liste des Documents</h1>
<table border = "1">
    <tr>
        <td>id</td>
        <td>nom</td>
        <td>date</td>
        <td>auteur</td>
        <td>type</td>
    </tr>
    {% for document in documents %}
        <tr>
            <td>{{ document.id }}</td>
            <td>{{ document.nom }}</td>
            <td>{{ document.date|date('Y-m-d') }}</td>
            <td>{{ document.auteur }}</td>
            <td>{{ document.type }}</td>
            <td><a href = "{{ path ("biblio_modifier_docuement",{'id': document.id })}}"> modifier </a></td>
            <td><a href = "{{ path ("biblio_supprimer_docuement",{'id': document.id })}}"> Supprimer </a></td>
        </tr>
    {% endfor %}
</table>