<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
<div class = "container">
    <a  href="{{ path ("biblio_affichage_document")}}" class = "navbar-brand" > Bibliothéque Tek up</a>
    <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#mobile-nav">
    <span class="navbar-toggle-icon">
    </span>
    </button>
    <div class="collapse navbar-collapse" id="mobile-nav">
        <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a href="{{ path ("biblio_ajout_document")}}" class="nav-link">Ajouter Document</a>
            </li >
            <li class="nav-item">
                <a href = "{{ path ("biblio_inscription_user")}}" class="nav-link"> Ajouter un Utilisateur </a>
            </li>
            <li class="nav-item">
                <a href="{{ path ("biblio_affichage_document")}}" class="nav-link">Les documents</a>
            </li>
            <li class="nav-item">
            <a href="{{ path ("admin_listUsers")}}" class="nav-link">Les utilisateurs</a>
            </li>
            <li class="nav-item">
                <a href="{{ path ("admin_listEmprunts")}}" class="nav-link">Les emprunts</a>
            </li>
            {% endif %}
            {% if not app.user %}
                <li class="nav-item">
                    <a href="{{ path('biblio_connexion_user')}}" class="nav-link">Connexion </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href = "{{ path ("biblio_deconnexion_user")}}" class="nav-link"> Deconnexion </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

</nav>